/* font-family: "Raleway", sans-serif;
font-family: "Roboto", sans-serif; */
/*background-color:*/
body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  color: #434455;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.nav-list a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
